body{
    text-align: center;

}
.heading{
    font-size: 25px;
    color: white;
    width: 100%;
    box-shadow: 5px 5px 5px rgb(95, 205, 241);
}
.note{
    font-size: 15px;
    color: rgb(214, 214, 214);
    white-space:normal;
}
.footer{
    position: fixed;
    bottom: 0;
    line-height: 4;
    font-weight: bold;
    background-color: gray;
    color: white;
    text-align: center;
    width: 100%;
    font-family: monospace;
}
canvas{
    border: 5px white;
    border-radius: 20px;
    box-shadow: 20px 55px 55px;
}