body{
    text-align: center;

}
.heading{
    font-size: 18px;
    font-family: monospace;
    letter-spacing: 2px;
    color: gray;
    margin-top: 10px;
}
.google_lens h1{
    font-size: 27px;
    font-family: monospace;
    letter-spacing: 2px;
    color: gray;
}
.mobilenet h1{
    font-size: 27px;
    font-family: monospace;
    letter-spacing: 2px;
    color: gray;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.test_image_and_result{
    background-color: gainsboro;
    border-radius: 10px;
    width: 97%;
}
.mini_result
{
    font-size: 18px;
    font-family: monospace;
    letter-spacing: 2px;
    color: gray; 
}
h5
{
    font-size: 18px;
    font-family: monospace;
    letter-spacing: 2px;
    color: gray; 
}