.logo
{
	width: 100px; border-radius: 50px; 
}
.header
{
	color: orange;font-family: 'Yeon Sung';font-size: 30px;
    float: left;
    margin-top: -5px;
}
body{
    text-align: center;
    background-color: yellow;
    color: orange;
    letter-spacing: 20px;
}
#main{
    margin-top: 100px;
}
#sign_in{
    margin-top: 70px;
    color: yellow;
    background-color: orange;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    border: 0px;
}
#sign_in:hover{
   color: orange;
   background-color: yellow; 
}
.in{
    margin-top: 70px;
    border: 0;
    border-radius: 25px;
    width: 500px;
    height: 40px;
    color: black;
}